name::Telepart&&category::IsNew&&itemNumber::Articlenumber&&description::Modeldescription&&supItemNumber::Articlenumber&&ean::EAN&&retPrice::UnitPrice&&availability::Stock&&xml::true&&available::>=3&&separator::PREXPriceList&&model::TP&&manufact::Manufacturer&&itName::Model&&stockStatus::&&status::&&addPic::&&taxClass::&&mpn::&&img::
