name::desc&&category::category&&itemNumber::Art. No.&&description::Product&&supItemNumber::Art. No.&&ean::Art. No.&&retPrice::Price&&availability::Stock&&xml::false&&available::>=10&&separator::,&&model::TL&&manufact::null&&itName::desc&&stockStatus::null&&status::null&&addPic::null&&taxClass::null
name::article description&&category::article group name&&itemNumber::item number&&description::article description&&supItemNumber::item number&&ean::EAN number 1&&retPrice::retail price&&availability::availability (tendency)&&xml::false&&available::available&&separator::;&&model::DF2&&manufact::supplier&&itName::article description&&stockStatus::null&&status::null&&addPic::null&&taxClass::null
name::difox2&&category::article group name&&itemNumber::item number&&description::article description&&supItemNumber::item number&&ean::EAN number 1&&retPrice::retail price&&availability::availability (tendency)&&xml::false&&available::available&&separator::;&&model::DF&&manufact::supplier&&itName::article description&&stockStatus::null&&status::null&&addPic::null&&taxClass::null
name::difox&&category::article group name&&itemNumber::item number&&description::article description&&supItemNumber::item number&&ean::EAN number 1&&retPrice::retail price&&availability::availability (tendency)&&xml::false&&available::available&&separator::;&&model::DF&&manufact::supplier&&itName::article description&&stockStatus::&&status::&&addPic::&&taxClass::
name::telepart&&category::category&&itemNumber::Art. No.&&description::Product&&supItemNumber::Art. No.&&ean::Art. No.&&retPrice::Price&&availability::Stock&&xml::false&&available::>=10&&separator::,&&model::TP&&manufact::&&itName::Product&&stockStatus::&&status::&&addPic::&&taxClass::&&mpn::Art. No.
name::TelepartXml&&category::Type&&itemNumber::Articlenumber&&description::Modeldescription&&supItemNumber::&&ean::EAN&&retPrice::UnitPrice&&availability::Stock&&xml::true&&available::>=10&&separator::PREXPriceList&&model::TP&&manufact::Manufacturer&&itName::Model&&stockStatus::&&status::&&addPic::&&taxClass::&&mpn::
name::orico&&category::categories1&&itemNumber::mpn&&description::description&&supItemNumber::mpn&&ean::ean&&retPrice::price&&availability::quantity&&xml::true&&available::>=10&&separator::product&&model::OR&&manufact::&&itName::model&&stockStatus::&&status::&&addPic::additional_images2&&taxClass::&&mpn::mpn&&img::image
name::ULegend&&category::category&&itemNumber::id&&description::&&supItemNumber::&&ean::id&&retPrice::price_with_vat&&availability::availability&&xml::true&&available::Διαθέσιμο&&separator::product&&model::UL&&manufact::manufacturer&&itName::name&&stockStatus::&&status::&&addPic::&&taxClass::&&mpn::mpn&&img::image
