name::Telepart&&category::IsNew&&itemNumber::Articlenumber&&description::Modeldescription&&supItemNumber::Articlenumber&&ean::EAN&&retPrice::UnitPrice&&availability::Stock&&xml::true&&available::>=3&&separator::PREXPriceList&&model::TP&&manufact::Manufacturer&&itName::Model&&stockStatus::&&status::&&addPic::&&taxClass::&&mpn::&&img::
name::asdf&&category::12&&itemNumber::&&description::&&supItemNumber::&&ean::&&retPrice::&&availability::&&xml::false&&available::&&separator::&&model::&&manufact::&&itName::&&stockStatus::&&status::&&addPic::&&taxClass::&&mpn::&&img::&&xmlUrl::&&xmlUser::&&xmlPass::